$desktop:1114px;
@mixin desktop {
    @media (min-width: #{$desktop}) {
      @content;
    }
}

#searchFieldInput{
    width:53rem;
    font-size:3rem;
    text-align:center;
    border-radius: 1rem;
    padding:1rem;
    margin-top:3rem;


    @include desktop{
      width:30rem;
      font-size: 1rem;
      margin:0;
      font-size:1.5rem;
      padding:0;
      border-radius: 0rem;
      background:transparent;
      border:none;
      color:white;
      text-align: left;
    }
}
