$desktop:1024px;
@mixin desktop {
    @media (min-width: #{$desktop}) {
      @content;
    }
}

#nav{
  background:#292734;
  list-style: none;

// background: linear-gradient(185deg, rgba(59,69,102,1) 0%, rgba(40,46,73,1) 100%);
  padding:2rem 0 2rem 0;
  top:0;
  width:100%;
  display:flex;
  justify-content: space-between;
  position: fixed;
  flex-wrap: wrap;
  
  #search{
    width:100%;
    margin-left:13rem;
    margin-top:2rem;
  }
  #contactHeader{
    font-size:3rem;
    color: white;
    text-align: center;
    letter-spacing: 8px; 
  }
    
    // background: rgb(59,69,102);
         
        #addBtn, #searchBtn, #favBtn{
            font-size:3rem;
            border:none;
            background-color:transparent;
            color:white;        
        }     
        
}

@include desktop{

  #nav{
    list-style: none;
    display:flex;
    top:0;
    height: 1.5rem;
    background: #3B3A4A;
    border-bottom: solid black 1px;
    justify-content: flex-end;
  
  #searchBtn{
    font-size:1.5rem;
    margin-right:90rem;
  }
  #addBtn, #favBtn{
    font-size:1.5rem;
    margin-right:2rem;
    }
    #favBtn{
    }
  } 
}