$desktop:1024px;
@mixin desktop {
    @media (min-width: #{$desktop}) {
      @content;
    }
}

#nav{
  padding:3rem;
  // background: linear-gradient(185deg, rgba(59,69,102,1) 0%, rgba(40,46,73,1) 100%);
  // background:#292734;

  background:rgb(62, 58, 131);
  list-style: none;
  top:0;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  #search{
    width:100%;
    margin-top:3rem;

  }
  #contactHeader{
    font-size:3rem;
    color: white;
    text-align: center;
    letter-spacing: 8px; 
  }
 
    
    // background: rgb(59,69,102);
         
        #addBtn, #favBtn{
            font-size:3rem;
            border:none;
            background-color:transparent;
            color:white;    
        }    
        
}

@include desktop{

  #nav{
    // background: #3B3A4A;
    background:rgb(62, 58, 131);
    border-bottom: solid black 1px;
    flex-wrap: nowrap;
    #contactHeader{
      font-size:1.5rem;
    } 
  #searchBtn{
    font-size:1.5rem;
  }
  #addBtn, #favBtn{
    font-size:1.5rem;
    }
  }
  
}