#nav{
    display:flex;
    justify-content: space-evenly;
    position: fixed;
    bottom:0;
    width:100%;
    padding:2rem 0 2rem 0;
    // background: rgb(59,69,102);
    //   background:#272626;
        background: linear-gradient(185deg, rgba(59,69,102,1) 0%, rgba(40,46,73,1) 100%);
        #addBtn, #searchBtn, #favBtn{
            font-size:5rem;
            border:none;
            background-color:transparent;
            color:white;        
        }        
}

