*{
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}
body{
    // background: rgb(59,69,102);
    // background: linear-gradient(0deg, rgba(59,69,102,1) 0%, rgba(40,46,73,1) 100%);
    background: rgb(59,69,102);
    background: radial-gradient(circle, rgba(59,69,102,1) 0%, rgba(40,46,73,1) 100%);
}

h1{
    font-size:6rem;
    color: white;
    clear:right;
    margin-left:6rem;
}

// #nav{
//     display:flex;
//     justify-content: space-between;
//         #menuBtn, #profileBtn{
//             border:none;
//             margin: 3rem;
//             }           
//             #menuBtn{
//                 background-color:transparent;
//                 font-size:3rem;
//                 padding: 1rem;
//                 color:white;
//             }
//             #profileBtn{
//                 border-radius: 50%;
//             }
//             img{
//                 border-radius: 1rem;
//             }
//         }
#profileBtn{
    border-radius: 50%;
    float:right;
    margin:3rem;
    border: .3rem white solid;
        }
#nav{
    display:flex;
    justify-content: space-evenly;
    position: fixed;
    bottom:0;
    width:100%;
    padding:4rem 0 4rem 0;
    // border: 1px solid black;
    background: rgb(59,69,102);
    background: linear-gradient(185deg, rgba(59,69,102,1) 0%, rgba(40,46,73,1) 100%);
        #addBtn, #searchBtn, #favBtn{
            font-size:5rem;
            border:none;
            background-color:transparent;
            color:white;        
        }        
}
#contactArea{
    // display: flex;
    // flex-wrap:wrap;
    // justify-content: space-evenly;
    padding: 6rem 6rem;
    overflow: hidden;
    margin-bottom:10rem;
        h2{
            font-size: 4rem;
            color:white;
            padding-top:5rem;
        } 
            .card{
                border-radius: 50%;
                margin: 3rem 0;
                margin-right:3rem;
                border: .3rem white solid;   
                float:left;            
            }
}
hr{
    // margin-bottom:2rem;
    clear: left;   
}

#addForm{
    display:none;
    flex-wrap: wrap;
    .addInput{
        width:50%;
    }
}
