*{
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}
.App{
    background-color: rgb(59,69,102);
    background-color: linear-gradient(18deg, rgba(59,69,102,1) 0%, rgba(40,46,73,1) 100%);
    height:100vh;
}

h1{
    font-size:6rem;
    margin: 8rem 4rem;
    color: white;
}

#nav{
    display:flex;
    justify-content: space-between;
        #menuBtn, #profileBtn{
            border:none;
            margin: 3rem;
            }           
            #menuBtn{
                background-color:transparent;
                font-size:3rem;
                padding: 1rem;
                color:white;
            }
            #profileBtn{
                border-radius: 50%;
            }
            img{
                border-radius: 1rem;
            }
        }


//  for menu toggling       
// #sideBar{
//     height:100vh;
//     background-color:black;
//     width:65%;
//     position:fixed;
// }
// #main{
//     margin-left:30rem;
// }