#contactCount{
    font-size:6rem;
    color: white;
    clear:right;
    text-align: center;
}

#contactArea{
    // display: flex;
    // flex-wrap:wrap;
    // justify-content: space-evenly;
    padding: 6rem 6rem;
    overflow: hidden;
    margin-bottom:10rem;
    
        h2{
            font-size: 3rem;
            color:white;
            padding-top:4.5rem;
        } 
            .card{
                border-radius: 50%;
                margin: 3rem 0;
                margin-right:3rem;
                border: .2rem white solid;   
                float:left;  
                width:100px;
                height:100px;          
            }
}

hr{
    // margin-bottom:2rem;
    clear: left;   
}

