#contactCount{
    font-size:5rem;
    color: white;
    clear:right;
    text-align: left;
    padding-left:6rem;
}

#contactArea{
    padding: 6rem 6rem;
    overflow: hidden;
    margin-bottom:10rem;
    
        h2{
            font-size: 3rem;
            color:white;
            padding-top:4.5rem;
        } 
            .mobileList{
                border-radius: 50%;
                margin: 3rem 0;
                margin-right:3rem;
                border: .2rem white solid;   
                float:left;  
                width:100px;
                height:100px;          
            }
}

hr{
    clear: left;   
}
.closeCardModal{
    display:none;
}
.cardModal{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
    opacity: 1;
    animation: show .5s ease;
    overflow-X: hidden;
    overflow-Y: auto;
    .card{
        background-color:#FFFFFF;
        color: black;
        width:75%;
        height:70rem;
        text-align: center;
        border-radius: 5%;
        font-size:3rem;
        position: relative;
    }
    .cardBanner{
            height:25rem;
            font-size:2rem;
            display:flex;
            justify-content: space-between;
            font-size:3rem;
            background: rgb(59,69,102);
            color:white;
            position: absolute;
            width:100%;
           

    }
    .back,.edit{
        margin-top:4rem;
    }
    .back{
        margin-left: 2rem;
    }
    .edit{
        margin-right: 2rem;
    }

    .contactCardModalImg{
        border-radius: 50%;
        height:350px;
        width:350px;
        border: .8rem black solid;   
        position: absolute;
        display: flex;
        margin:12rem;
    }
    .cardContent{
        margin-top:38rem;
        padding: 0 2rem;
        .icon, p{
            margin-top:3rem;
        }
        .icon{
            float:left;
            margin-left:3rem;
        }
    }
}
.cardEdit{
    color:black;
    margin-top:4rem;
        .editInput{
            width: 70%;
            margin: 3%;
            text-align:center;
            font-size:2rem;
            border: none;
            border-bottom: 1px solid;
            outline:none;
          
        }
        .editCancel, .submitEditButton{
            border: 1px black solid;
            font-size:2.5rem;
            padding:1rem;
            margin: 1rem 1rem 0 1rem;
            border-radius: 2.5rem;
            color:white;
            width: 30%
        }
        .editCancel{
            background-color:#f44336;
        }
        .submitEditButton{
            background-color:rgb(92, 207, 142); 
        }
}
.name{
    color:black;
    font-size: 4rem;
}