// $desktop:1114px;
$desktop:1114px;
@mixin desktop {
    @media (min-width: #{$desktop}) {
      @content;
    }
}



#contactArea{
    padding-left:4rem;
    margin-bottom:10rem;
    margin-top:4rem;
    
        h2{
            font-size: 3rem;
            color:white;
            padding-top:3rem;
        } 
            .mobileList{
                border-radius: 50%;
                margin: 2rem 0;
                margin-right:3rem;
                border: .2rem white solid;   
                float:left;  
                width:80px;
                height:80px;  
            }
}
@include desktop{
    #contactArea {
        display:flex;
        flex-wrap: wrap;   
        margin: 0;
        padding:0;
        margin:6rem 0;
        margin-left: 8rem;
        justify-content: flex-start;   
    }
}

hr{
    clear: left;   
}
.closeCardModal{
    display:none;
}
.cardModal{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
    opacity: 1;
    overflow-X: hidden;
    overflow-Y: auto;
    padding:50rem 10rem;
    @include desktop{
        position: relative;
        background-color: transparent;
        top:auto;
        right: auto;
        left: auto;
        bottom: auto;
        z-index:auto;
        padding:0;
    }
    .card{
        background-color:#FFFFFF;
        color: black;
        width:46rem;
        height:70rem;
        text-align: center;
        border-radius: 5%;
        font-size:2.5rem;
        position: relative;
        @include desktop{
            height: 25rem;
            width:20rem;
            font-size:1rem;
            margin:1rem;
        }
    }
    .cardBanner{
            height:25rem;
            font-size:2rem;
            display:flex;
            justify-content: space-between;
            font-size:3rem;
            background:rgb(62, 58, 131);
            color:white;
            position: absolute;
            width:100%;
                @include desktop{
                height:3rem;
                font-size:1rem;
                }
    }
    
    .back,.edit, .delete, .star{
        margin-top:4rem;
        @include desktop{
           margin-top:1rem;
        }
    }
    .star{
        margin-left:18rem;
        @include desktop{
            margin:1rem 0 0 10rem;
         }
    }
    .back{
        margin-left: 2rem;
        @include desktop{
            margin:1rem 0 0 1rem;
         }
    }
    .delete{
        margin-right: 2rem;
        @include desktop{
            margin:1rem 1rem 0 0;
         }
    }
  

    .contactCardModalImg{
        border-radius: 50%;
        height:22rem;
        width:22rem;
        border: .8rem black solid;   
        position: absolute;
        display: flex;
        margin:10rem;
        @include desktop{
            height:120px;
            width:120px;
            border:none;
            margin:5rem 6.5rem;
        }
    }
    .cardContent{
        margin-top:38rem;
        padding: 0 2rem;
        @include desktop{
            margin-top:14rem;
        }
        .icon, p{
            margin-top:3rem;
            @include desktop {
                margin-top:1rem;
            }
        }
        .icon{
            float:left;
            margin-left:1rem;
        }
    }
}
.cardEdit{
    color:black;
    margin-top:4rem;
        .editInput{
            width: 70%;
            margin: 3%;
            text-align:center;
            font-size:2rem;
            border: none;
            border-bottom: 1px solid;
            outline:none;
            @include desktop{
                margin:0;
                font-size:1.2rem;
            }
          
        }
        .editCancel, .submitEditButton{
            border: 1px black solid;
            font-size:2.5rem;
            padding:1rem;
            margin: 1rem 1rem 0 1rem;
            border-radius: 2.5rem;
            color:white;
            width: 30%;
            @include desktop{
                font-size:1rem;
                padding:0.2rem;
            }

        }
        .editCancel{
            background-color:#f44336;
        }
        .submitEditButton{
            background-color:rgb(92, 207, 142); 
        }
}
.name{
    color:black;
    font-size: 4rem;
    @include desktop{
        font-size:2rem;
    }
}